body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.App {
  text-align: center;
  background-color: #282c34;
  border-radius: 3px;
  min-width: 60vw;
  min-height: 60vh;
}
h1 {
  color: yellow;
  font-size: 6em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  letter-spacing: 0.5em;
  border-radius: 5px;
  padding: 0.5em 0.45em;
}
Header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: black;
}
select {
  padding: 0 0.75em 0.75em 0.75em;
}
select,
option {
  color: yellow;
  font-weight: bolder;
  text-transform: uppercase;
  background-color: black;
  border: none;
}
.search {
  color: yellow;
  font-weight: bolder;
  text-transform: capitalize;
  background-color: black;
  /* border: grey 2px; */
}
